/******* Home Styling ***************/

h2 {
	font-size: 1.5rem;
	font-weight: bold;
}

#hero-section {
	position: relative;
}

#hero-section img {
	width: 100%;
	height: auto;
}

#hero-section div {
	position: absolute;
	top: 0;
	left: 0;
	background-color: var(--back-2-transparent);
	padding: 0.25rem;
}

#hero-section h2, #hero-section p {
	margin: 0;
}

#hero-section a {
	display: block;
	padding: 13px;
	background-color: var(--back-2);
	color: inherit;
	text-decoration: none;
	width: fit-content;
	margin-top: 0.25rem;
}

#review-section ul {
	padding-inline-start: 20px;
}
#review-section li {
	margin: 1rem 0;
}

#upgrade-section {
	display: grid;
	grid-auto-columns: 1fr 1fr;
	text-align: center;
	gap: 0.5rem;
}

#upgrade-section h2 {
	grid-column: 1/3;
	text-align: initial;
}

#upgrade-section .upgrade-card {
	display: flex;
	flex-direction: column;
}

#upgrade-section .upgrade-card div {
	background-color: var(--back-2);
	padding: 0.5rem;
	flex-grow: 1;
	border: 1px solid var(--text-1);
	margin-bottom: 0.125rem;
}

@media screen and (min-width: 600px) {
	main {
		display: grid;
		gap: 1rem;
		grid-template-areas: 
			"head head"
			"hero hero"
			"upgd revw";
	}

	#title {
		grid-area: head;
	}

	#hero-section {
		font-size: 1.33rem;
		grid-area: hero;
	}

	#hero-section a {
		margin: 1.5rem 1rem 1rem;
	}

	#upgrade-section {
		grid-area: upgd;
	}

	#review-section {
		grid-area: revw;
	}
}