/******* Inventory Styling ***************/

#inv-display {
	list-style: none;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
	gap: 1rem;
	padding: 0;

	text-align: center;
}

#inv-display li {
	overflow: hidden;
	border: 1px solid var(--text-1);
	border-radius: 8px;
	max-width: 200px;
}
#inv-display li > a {
	display: block;
	height: fit-content;
}

#inv-display img {
	width: 100%;
	height: auto;
}

#inv-display hr {
	border: 4px solid var(--text-1);
	margin: 0 0 0.5rem;
}

#inv-display div {
	padding-bottom: 1rem;
}

#inv-display div > * {
	padding: 0 0.5rem;
}