/******* Change Box Model ***************/
*,
*:before,
*:after {
	box-sizing: border-box;
}

/******* General Styling ***************/

:root {
	--back-1: #ebfdff;
	--back-2: #0ae2ff;
	--back-2-transparent: #0ae2ff80;
	--text-1: #221510;

	font-family: helvetica, arial, sans-serif;
}

body {
	margin: 0;
}

#wrapper {
	width: 100vw;
	min-height: 100vh;
	position: relative;
	padding: 1rem 0.5rem;
	background-color: var(--back-1);
	color: var(--text-1);
}

header {
	display: flex;
	justify-content: space-between;
	padding: 1rem 0;
}

header a {
	color: inherit;
	text-decoration: none;
}

.siteName {
	font-size: 2rem;
}

#main-nav {
	background-color: var(--back-2);
	color: var(--text-1);
}

#main-nav ul {
	padding: 0;
	display: flex;
	justify-content: space-around;
}

#main-nav li {
	list-style: none;
	display: block;
	flex-grow: 1;
}

#main-nav a {
	color: inherit;
	text-decoration: none;
	padding: 13px 8.25px;
	display: block;
	text-align: center;
}

footer {
	margin-top: 2rem;
}

@media screen and (min-width: 600px) {
	body {
		background: url('/images/site/checkerboard.jpg') top left/512px;
		padding: 1rem;
	}

	#main-nav a:hover {
		background-color: rgba(255, 255, 255, 0.5);
	}

	#wrapper {
		max-width: 620px;
		border: 3px solid var(--back-2);
		border-radius: 1rem;
		margin: auto;
	}
}