.vehicle-img {
	width: 100%;
	height: auto;
}

.vehicle-desc ul {
	list-style: none;
	padding: 0;
	margin: 0 0 0.5rem;
}
.vehicle-desc li, .vehicle-desc p {
	padding: 0.25rem 0.125rem;
	margin: 0;
}
.vehicle-desc li:nth-child(even) {
	background-color: var(--back-2-transparent);
}

@media screen and (min-width: 600px) {
	main {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 1rem;
		align-items: center;
	}

	h1 {
		grid-column: 1/3;
	}

	h2 {
		margin: 0;
		padding: 0 0.125rem;
	}
}